body{
  background-color: #EAF6F6 ;
}
hr {
  background-color: #EAF6F6 ;
  border-style: dotted none none ;
  color: grey ;
  width: 10% ;
  border-top-width: thick ;
}
h1{
color:#66BFBF;
}
h3{
color: #66BFBF;
}
